.about-us-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    font-family: Arial, sans-serif;
  }
  
  .about-us-content {
    max-width: 50%;
  }
  
  .about-us-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: left; /* Added to align text to the left */

  }
  
  .about-us-content h3 {
    font-size: 1em;
    margin-bottom: 20px;
    text-align: left; /* Added to align text to the left */

  }
  
  .about-us-content p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left; /* Added to align text to the left */
  }
  
  .about-us-content ul {
    list-style: none;
    padding: 0;
    
  }
  
  .about-us-content ul li {
    font-size: 1em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

  }
  
  .about-us-content ul li i {
    color: rgb(6, 54, 6);
    margin-right: 10px;
  }
  
  .about-us-image img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    height: auto;

  }
  
  @media (max-width: 768px) {
    .about-us-container {
      flex-direction: column;
      text-align: center;
    }
  
    .about-us-content, .about-us-image {
      max-width: 100%;
      width: 100%;
    }
  
    .about-us-content ul li {
      justify-content: center;
    }
  }
  