/* src/TruckDispatcher.css */
.container {
  font-family: Arial, sans-serif;
}

/* Header styles */
.header {
  background-color: #333;
  color: rgb(181, 175, 175);
  padding: 10px 0;
  text-align: center;
}

/* Contact information styles */
.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-left: 12rem;
}

.contact-info i {
  color: yellow;
}

.contact-info span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Navigation container styles */
.nav-cont {
  background-color: aliceblue;
}

/* Navigation styles */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 1rem;
  flex-wrap: wrap;
  height: 5rem;

}

.nav a {
  color: rgb(182, 161, 5);
  margin: 0 15px;
  text-decoration: none;
}

/* Get in touch button styles */
.get-in-touch {
  background-color: yellow;
  border-radius: 2rem;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

/* Main content styles */
.main {
  position: relative;
  width: 100%;
  text-align: center;
  color: rgb(252, 252, 252);
}

/* Image container styles */
.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
}

/* Overlay styles */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.overlay h1 {
  margin: 0;
}

/* Responsive Design */

/* Tablet and below */
@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-left: 0; /* Center align the contact info */
  }

  .contact-info span {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }

  .nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  .nav a {
    margin: 0;
  }

  .get-in-touch {
    margin-top: 10px;
  }

  .overlay {
    width: 80%;
    padding: 10px;
  }
}

/* Mobile and below */
@media (max-width: 480px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }

  .nav {
    flex-direction: column;
    gap: 0.25rem;
  }

  .get-in-touch {
    padding: 8px 16px;
  }

  .overlay {
    width: 90%;
    padding: 10px;
  }
}
